body {
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1216px;
    border-radius: 24px;
    background-color: rgb(29, 30, 32);
    padding: 2em;
    margin: 2em;
}

th, td {
    border: 1px rgba(108, 108, 121, 0.6) solid;
    padding: 8px;
    text-align: left;
    width: 33%;
}

table td:nth-child(4),
table th:nth-child(4) {
    width: 130px;
    white-space: nowrap;
}

table td:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

.submit-b {
    width: 60px;
    font-size: inherit;
    border: none;
    border-radius: 4px;
    background-color: rgb(227, 227, 227);
    color: rgb(29, 30, 32);
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.header-row {
    background-color: rgb(49, 49, 51);
}

.country-selector  {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

tr, td, a, label, h3 {
    color: rgb(227, 227, 227);
}

td {
    font-size: 16px;
}

h3 {
    color: rgb(227, 227, 227);
    margin: 2em 0 0.4em 0;
}

label, a {
    font-size: 20px;
}

datalist, input {
    height: 30px;
    width: 240px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(49, 49, 51);
    color: rgb(227, 227, 227);
    font-size: 16px;
    padding-left: 8px;
    margin-left: 8px;
    border-radius: 4px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(108, 108, 121, 0.6);
    caret-color: rgb(227, 227, 227);
    border-radius: 4px;
}

.search-b, .reset-b {
    width: 100px;
    height: 29px;
    margin: 0 12px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(227, 227, 227);
    color: rgb(29, 30, 32);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.pagination li {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
}

.pagination li.disabled {
    color: rgb(108, 108, 121);
    cursor: default;

}

.pagination li.active {
    font-weight: bold;
    background-color: rgb(227, 227, 227);
    border-radius: 4px;
}

th {
    position: relative;
    padding-right: 25px;
    text-align: left;
}

.sort-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-decoration: none;
    color: rgb(227, 227, 227)
}

.arrows {
    display: flex;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}

.new-record {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-record input {
    margin-right: 8px;
}

.container h1 {
    margin: 0 0 0.4em 0;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    height: 16em;
    width: 20em;

    z-index: 9999;
    padding: 20px;
    background-color: rgb(21, 21, 23);
    color: rgb(227, 227, 227);
    border: 1px rgba(108, 108, 121, 0.6) solid;
    border-radius: 8px;
}

.modal input {
    margin: 0 0 1em 0 ;
    width: 20em;
}

.modal label {
    margin-bottom: 4px;
}

.modal button {
    margin: 8px 8px 4px 0;
}

.buttons {
    display: flex;
}

.form {
    display: flex;
    flex-direction: row;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}