<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title th:text="${pageTitle}"></title>
</head>

<div th:fragment="content">
    <div class="container">

        <h1>Daten in die Datenbank eingeben</h1>

        <form method="post" th:action="@{/edit}" class="new-record">

            <div>
                <label for="country">Land: </label>
                <input type="text" id="country" name="country" th:value="${country}" />

                <label for="year">Jahr: </label>
                <input type="text" id="year" name="year" th:value="${year}"/>

                <label for="emissions">Emissions: </label>
                <input type="text" id="emissions" name="emissions" th:value="${emissions}" />
            </div>

            <button type="submit" class="search-b">Submit</button>
        </form>

        <h3 id="pending">Pending-Einträge</h3>
        <table class="pending-table">

            <thead>
                <tr>
                    <th>Land</th>
                    <th>Jahr</th>
                    <th>Emissionen</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="record : ${pendingRecords}">
                    <td th:text="${record.country}"></td>
                    <td th:text="${record.year}"></td>
                    <td th:text="${record.emissions}"></td>
                    <td>
                        <form th:action="@{/edit/publish}" method="post" style="display:inline;">
                            <input type="hidden" th:name="id" th:value="${record.id}" />
                            <button class="submit-b"type="submit">Post</button>
                        </form>

                        <form th:action="@{/edit/delete}" method="post" style="display:inline;">
                            <input type="hidden" th:name="id" th:value="${record.id}" />
                            <button class="submit-b" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


